<?xml version="1.0" encoding="utf-8"?><ap:Properties xmlns:ap="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"><ap:Application>Walnut Exporter</ap:Application><ap:PresentationFormat>Converted Presentation</ap:PresentationFormat><ap:Slides>0</ap:Slides><ap:Notes>0</ap:Notes><ap:HiddenSlides>0</ap:HiddenSlides><ap:SharedDoc>false</ap:SharedDoc><ap:DocSecurity>0</ap:DocSecurity></ap:Properties>