<section class="card pro-search-form" data-component="ProSearchForm" data-layout="four-column-inline" data-component-source="prototype-resources/samples/components/pro-search-form.html">
  <div class="pro-search-form-grid">
    {{FIELDS}}
    <div class="form-item pro-search-form-actions">
      <button class="btn" type="button" data-act="query"><i class="fa-solid fa-magnifying-glass"></i> 查询</button>
      <button class="btn" type="button" data-act="reset"><i class="fa-solid fa-rotate-right"></i> 重置</button>
      {{ADVANCED_TOGGLE}}
    </div>
  </div>
</section>
